@model DismasDemo.Models.Price

@{
    ViewData["Title"] = "Edit Price";
}

<h4>Edit Price</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPrice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PriceID" />
            <div class="form-group">
                <label asp-for="PartID" class="control-label"></label>
                <input asp-for="PartID" class="form-control" />
                <span asp-validation-for="PartID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListPrice" class="control-label"></label>
                <input asp-for="ListPrice" class="form-control" />
                <span asp-validation-for="ListPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="priceUpdateButton" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.PriceListID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
